<div class="container-fluid margin-bottom-md">
    <form class="form well">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="form-group">
                    <label>Giá</label>
                    <rzslider rz-slider-model="categoryConnectorVm.params.minPrice" rz-slider-high="categoryConnectorVm.params.maxPrice" rz-slider-options="categoryConnectorVm.priceSlider.options"></rzslider>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="form-group">
                    <label>Loại</label>
                    <div isteven-multi-select helper-elements="" input-model="categoryConnectorVm.inputTypes" output-model="categoryConnectorVm.outputTypes" button-label="name" item-label="name" tick-property="ticked" on-item-click="categoryConnectorVm.onTypeSelect(data)">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-inline">
            <label class="margin-right-sm">Sắp xếp</label>
            <select class="form-control " ng-model="categoryConnectorVm.params.sort" ng-options="criteria.key as criteria.value for criteria in categoryConnectorVm.sortCriteriaOptions" ng-change="categoryConnectorVm.sortCriteriaChange()">
            </select>
        </div>
    </form>
    <div class="row">
        <ul class="o-product-list">
            <li ng-repeat="product in categoryConnectorVm.products" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="o-product-card well">
                    <a ui-sref="productDetails.productId({ productId: product.id })">
                        <ul class="o-product-card-addon">
                            <li ng-repeat="tag in product.tags" class="margin-left-sm" ng-class="indexVm.getTagLabelClass(tag)">{{ tag.tagName }}
                            </li>
                        </ul>
                        <img class="o-product-card-img" ng-src="{{ product.media[0].link }}">
                        <h3 class="o-product-card-title">{{ product.productName }}</h3>
                    </a>
                    <div class="text-right">
                        <button class="btn btn-info">
                            {{ product.price | number}} đ
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="spinner margin-top-md margin-bottom-md" ng-if="categoryConnectorVm.isGettingProducts"></div>
    <div ng-if="categoryConnectorVm.hasMoreProducts">
        <div class="col-xs-12 col-sm-offset-2 col-sm-4 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-3">
            <button type="button" class="btn btn-block btn-default" ng-click="categoryConnectorVm.getProducts()">Tải thêm</button>
        </div>
    </div>
</div>
