<aside class="sidebar">
    <div class="sidebar-container">
        <form class="sidebar-body">
            <div class="form-group">
                <label>Hãng</label>
                <div isteven-multi-select helper-elements="" input-model="categoryLaptopVm.inputBrands" output-model="categoryLaptopVm.outputBrands" button-label="icon name" item-label="icon name" tick-property="ticked" on-item-click="categoryLaptopVm.onBrandSelect(data)">
                </div>
            </div>
            <div class="form-group">
                <label>Giá</label>
                <rzslider rz-slider-model="categoryLaptopVm.params.minPrice" rz-slider-high="categoryLaptopVm.params.maxPrice" rz-slider-options="categoryLaptopVm.priceSlider.options"></rzslider>
            </div>
            <div class="form-group">
                <label>RAM</label>
                <rzslider rz-slider-model="categoryLaptopVm.params.minRam" rz-slider-high="categoryLaptopVm.params.maxRam" rz-slider-options="categoryLaptopVm.ramSizeSlider.options"></rzslider>
            </div>
            <div class="form-group">
                <label>Ổ cứng</label>
                <rzslider rz-slider-model="categoryLaptopVm.params.minHddSize" rz-slider-high="categoryLaptopVm.params.maxHddSize" rz-slider-options="categoryLaptopVm.HddSizeSlider.options"></rzslider>
            </div>
            <div class="form-group">
                <label>PIN</label>
                <rzslider rz-slider-model="categoryLaptopVm.params.minPinCapacity" rz-slider-high="categoryLaptopVm.params.maxPinCapacity" rz-slider-options="categoryLaptopVm.pinCapacitySlider.options"></rzslider>
            </div>
            <div class="form-group">
                <label>Màn hình</label>
                <rzslider rz-slider-model="categoryLaptopVm.params.minScreenSize" rz-slider-high="categoryLaptopVm.params.maxScreenSize" rz-slider-options="categoryLaptopVm.screenSizeSlider.options"></rzslider>
            </div>
        </form>
        <div class="sidebar-footer text-center">
            <button type="button" class="btn btn-primary" ng-click="categoryLaptopVm.resetFilter()">Mặc định</button>
            <button id="close-sidebar-button" type="button" class="btn btn-danger">Đóng</button>
        </div>
    </div>
</aside>
<div class="container-fluid">
    <form class="form-inline well margin-top-md">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                    <button id="open-sidebar-button" class="btn btn-primary ">
                        <i class="fa fa-filter"></i> Chọn theo tiêu chí
                    </button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-8">
                <div class="form-group">
                    <label class="margin-right-sm">Sắp xếp</label>
                    <select class="form-control " ng-model="categoryLaptopVm.params.sort" ng-options="criteria.key as criteria.value for criteria in categoryLaptopVm.sortCriteriaOptions" ng-change="categoryLaptopVm.sortCriteriaChange()">
                    </select>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <ul class="o-product-list">
            <li ng-repeat="product in categoryLaptopVm.products" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="o-product-card well">
                    <a ui-sref="productDetails.productId({ productId: product.id })">
                        <ul class="o-product-card-addon">
                            <li ng-repeat="tag in product.tags" class="margin-left-sm" ng-class="indexVm.getTagLabelClass(tag)">{{ tag.tagName }}
                            </li>
                        </ul>
                        <img class="o-product-card-img" ng-src="{{ product.media[0].link }}">
                        <h3 class="o-product-card-title">{{ product.productName }}</h3>
                        <table class="o-product-overview">
                            <tr>
                                <td>Màn hình:</td>
                                <td>{{ product.details.screenSize }}, {{ product.details.screenDetails }} </td>
                            </tr>
                            <tr>
                                <td>CPU:</td>
                                <td>{{ product.details.cpu }}</td>
                            </tr>
                            <tr>
                                <td>RAM:</td>
                                <td>{{ product.details.ram }} GB</td>
                            </tr>
                            <tr>
                                <td>HDD:</td>
                                <td>{{ product.details.hddSize }} GB</td>
                            </tr>
                            <tr>
                                <td>VGA:</td>
                                <td>{{ product.details.graphicCard }}</td>
                            </tr>
                            <tr>
                                <td>PIN:</td>
                                <td>{{ product.details.pinCapacity }} cell</td>
                            </tr>
                        </table>
                    </a>
                    <div class="text-right">
                        <button class="btn btn-info" ng-click="indexVm.addItemToCart(product, 1)">
                            {{ product.price | number}} đ
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="spinner margin-top-md margin-bottom-md" ng-if="categoryLaptopVm.isGettingProducts"></div>
    <div ng-if="categoryLaptopVm.hasMoreProducts" class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-4 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-3">
            <button type="button" class="btn btn-block btn-default" ng-click="categoryLaptopVm.getProducts()">Tải thêm</button>
        </div>
    </div>
</div>
