<div class="container-fluid margin-top-md">
    <div class="row">
        <div class="col-xs-12">
            <div class="well">
                <h3>{{ productDetailsVm.product.productName }}</h3>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <div class="o-product-details-image-group">
                            <img class="o-product-details-feature-image margin-bottom-md" ng-src="{{ productDetailsVm.product.media[0].link }}" alt="">
                            <!-- <ul class="o-product-details-image-button-group">
                                <li>
                                    <button type="button" class="btn btn-default btn-block" ng-click="productDetailsVm.openSliderImages('gold')">
                                        <img src="img/product/iphone-7/iphone-7-vang-dong-main.png" alt="">
                                    </button>
                                    Vàng đồng
                                </li>
                                <li>
                                    <button type="button" class="btn btn-default btn-block" ng-click="productDetailsVm.openSliderImages('pink')">
                                        <img src="img/product/iphone-7/iphone-7-vang-hong-main.png" alt="">
                                    </button>
                                    Vàng hồng
                                </li>
                                <li>
                                    <button type="button" class="btn btn-default btn-block" ng-click="productDetailsVm.openSliderImages('black')">
                                        <img src="img/product/iphone-7/iphone-7-den-main.png" alt="">
                                    </button>
                                    Đen
                                </li>
                                <li>
                                    <button type="button" class="btn btn-default btn-block" ng-click="productDetailsVm.openSliderImages('box')">
                                        <img src="img/box.png" alt="">
                                    </button>
                                    Mở hộp
                                </li>
                            </ul> -->
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="h4 price margin-bottom-md">Giá: {{ productDetailsVm.product.price | number }} đ</div>
                        <div class="row margin-bottom-md no-gutter">
                            <div class="col-xs-4" style="padding-left: 15px; padding-top: 6px;">
                                <label>Số lượng</label>
                            </div>
                            <div class="col-xs-4">
                                <ram-touch-spin type="text" min="1" ng-model="productDetailsVm.quantity"></ram-touch-spin>
                            </div>
                        </div>
                        <button type="button" class="btn btn-info btn-block btn-xl" ng-click="indexVm.addItemToCart(productDetailsVm.product, productDetailsVm.quantity)">
                            <span class="h5">THÊM VÀO GIỎ HÀNG</span>
                        </button>
                        <br>
                        <button type="button" class="btn btn-warning btn-block btn-xl margin-bottom-md" ng-click="indexVm.addItemToCart(productDetailsVm.product, productDetailsVm.quantity, productDetailsVm.callback)">
                            <span class="h5">MUA NGAY</span>
                        </button>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-5">
                        <div class="h5">Thông số kỹ thuật</div>
                        <table ng-if="productDetailsVm.product.categoryName ==='Phone' || productDetailsVm.product.categoryName ==='Tablet'" class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>Màn hình</td>
                                    <td>{{ productDetailsVm.product.details.screenSize }}, {{ productDetailsVm.product.details.screenDetails }}</td>
                                </tr>
                                <tr>
                                    <td>Hệ điều hành:</td>
                                    <td>{{ productDetailsVm.product.details.os }}</td>
                                </tr>
                                <tr>
                                    <td>Camera sau</td>
                                    <td>{{ productDetailsVm.product.details.backCameraRes }} MP</td>
                                </tr>
                                <tr>
                                    <td>Camera trước</td>
                                    <td>{{ productDetailsVm.product.details.frontCameraRes }} MP</td>
                                </tr>
                                <tr>
                                    <td>CPU</td>
                                    <td>{{ productDetailsVm.product.details.cpu }}</td>
                                </tr>
                                <tr>
                                    <td>RAM</td>
                                    <td>{{ productDetailsVm.product.details.ram }} GB</td>
                                </tr>
                                <tr>
                                    <td>Bộ nhớ trong</td>
                                    <td>{{ productDetailsVm.product.details.internalMemSize }} GB</td>
                                </tr>
                                <tr>
                                    <td>Hỗ trợ thẻ nhớ</td>
                                    <td>
                                        {{ productDetailsVm.product.details.externalDiskSupported === true ? 'Có': 'Không'}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Thẻ SIM</td>
                                    <td>{{ productDetailsVm.product.details.sim }}</td>
                                </tr>
                                <tr>
                                    <td>Dung lượng pin</td>
                                    <td>{{ productDetailsVm.product.details.pinCapacity }} mAh</td>
                                </tr>
                                <tr>
                                    <td>Cổng sạc</td>
                                    <td>{{ productDetailsVm.product.details.charge }}</td>
                                </tr>
                                <tr>
                                    <td>Kết nối</td>
                                    <td>{{ productDetailsVm.product.details.connect }}</td>
                                </tr>
                                <tr>
                                    <td>Jack tai nghe</td>
                                    <td>{{ productDetailsVm.product.details.headphone }}</td>
                                </tr>
                                <tr>
                                    <td>Khối lượng</td>
                                    <td>{{ productDetailsVm.product.details.weight }} g</td>
                                </tr>
                            </tbody>
                        </table>
                        <table ng-if="productDetailsVm.product.categoryName ==='Laptop'" class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>Màn hình</td>
                                    <td>{{ productDetailsVm.product.details.screenSize }}, {{ productDetailsVm.product.details.screenDetails }}</td>
                                </tr>
                                <tr>
                                    <td>Mainboard</td>
                                    <td>{{ productDetailsVm.product.details.mainboard }}</td>
                                </tr>
                                <tr>
                                    <td>CPU</td>
                                    <td>{{ productDetailsVm.product.details.cpu }}</td>
                                </tr>
                                <tr>
                                    <td>RAM</td>
                                    <td>{{ productDetailsVm.product.details.ram }} GB</td>
                                </tr>
                                <tr>
                                    <td>Ổ cứng</td>
                                    <td>{{ productDetailsVm.product.details.hddSize }} GB</td>
                                </tr>
                                <tr>
                                    <td>Card đồ họa</td>
                                    <td>
                                        {{ productDetailsVm.product.details.graphicCard }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Webcam</td>
                                    <td>{{ productDetailsVm.product.details.webcam }}</td>
                                </tr>
                                <tr>
                                    <td>Dung lượng pin</td>
                                    <td>{{ productDetailsVm.product.details.pinCapacity }} cell</td>
                                </tr>
                                <tr>
                                    <td>Màn hình cảm ứng</td>
                                    <td>{{ productDetailsVm.product.details.hasTouchScreen ? 'Có' : 'Không' }}</td>
                                </tr>
                                <tr>
                                    <td>Ổ đĩa quang</td>
                                    <td>{{ productDetailsVm.product.details.hasOpticalDrive ? 'Có' : 'Không' }}</td>
                                </tr>
                                <tr>
                                    <td>Kết nối</td>
                                    <td>{{ productDetailsVm.product.details.connect }}</td>
                                </tr>
                                <tr>
                                    <td>Khối lượng</td>
                                    <td>{{ productDetailsVm.product.details.weight }} kg</td>
                                </tr>
                            </tbody>
                        </table>
                        <table ng-if="productDetailsVm.product.categoryName ==='Flashdisk' || productDetailsVm.product.categoryName ==='USB'" class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>Loại</td>
                                    <td>{{ productDetailsVm.product.details.type }}</td>
                                </tr>
                                <tr>
                                    <td>Dung lượng</td>
                                    <td>{{ productDetailsVm.product.details.size }} GB</td>
                                </tr>
                                <tr>
                                    <td>Tốc độ đọc</td>
                                    <td>{{ productDetailsVm.product.details.writeSpeed }} MB/s</td>
                                </tr>
                                <tr>
                                    <td>Tốc độ ghi</td>
                                    <td>{{ productDetailsVm.product.details.readSpeed }} MB/s</td>
                                </tr>
                            </tbody>
                        </table>
                        <table ng-if="productDetailsVm.product.categoryName ==='Headphone'" class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>Cổng kết nối</td>
                                    <td>{{ productDetailsVm.product.details.connect }}</td>
                                </tr>
                                <tr>
                                    <td>Loại</td>
                                    <td>{{ productDetailsVm.product.details.type }}</td>
                                </tr>
                                <tr>
                                    <td>Phím chức năng</td>
                                    <td>{{ productDetailsVm.product.details.featureButton }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <table ng-if="productDetailsVm.product.categoryName ==='Connector'" class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>Loại</td>
                                    <td>{{ productDetailsVm.product.details.type }}</td>
                                </tr>
                                <tr>
                                    <td>Nguồn vào</td>
                                    <td>{{ productDetailsVm.product.details.input }}</td>
                                </tr>
                                <tr>
                                    <td>Nguồn ra</td>
                                    <td>{{ productDetailsVm.product.details.output }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <table ng-if="productDetailsVm.product.categoryName ==='Case'" class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>Chất liệu</td>
                                    <td>{{ productDetailsVm.product.details.material }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <table ng-if="productDetailsVm.product.categoryName ==='Mouse' || productDetailsVm.product.categoryName ==='USB'" class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>Loại</td>
                                    <td>{{ productDetailsVm.product.details.type }}</td>
                                </tr>
                                <tr>
                                    <td>Cổng kết nối</td>
                                    <td>{{ productDetailsVm.product.details.connect }}</td>
                                </tr>
                                <tr>
                                    <td>Độ nhạy</td>
                                    <td>{{ productDetailsVm.product.details.dpi }} dpi</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="productDetailsVm.product.categoryName ==='Phone' || productDetailsVm.product.categoryName ==='Tablet' || productDetailsVm.product.categoryName ==='Laptop'">
        <div class="col-xs-12">
            <div class="well">
                <h4>Phụ kiện liên quan</h4>
                <div class="row">
                    <div ng-repeat="product in productDetailsVm.relatedAccessories" class="col-xs-6 col-sm-3 col-md-2 margin-bottom-md">
                        <div class="o-product-card-min">
                            <a class="text-center" ui-sref="productDetails.productId({ productId: product.id })">
                                <img ng-src="{{ product.media[0].link }}" alt="">
                                <h6 class="title">{{ product.productName }}</h6>
                                <div class="price">{{ product.price | number }} đ</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-xs-12">
            <div class="well">
                <h4>Sản phẩm liên quan</h4>
                <div class="row">
                    <div ng-repeat="product in productDetailsVm.relatedProducts" class="col-xs-6 col-sm-3 col-md-2 margin-bottom-md">
                        <div class="o-product-card-min">
                            <a class="text-center" ui-sref="productDetails.productId({ productId: product.id })">
                                <img ng-src="{{ product.media[0].link }}" alt="">
                                <h6 class="title">{{ product.productName }}</h6>
                                <div class="price">{{ product.price | number }} đ</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="overlay" id="overlay-image-slider">
    <div class="text-right margin-bottom-md">
        <button type="button" class="btn btn-danger" ng-click="productDetailsVm.closeOverlaySlider()">&times; Đóng</button>
    </div>
    <div id="carousel-id" class="carousel slide center-block" data-ride="carousel" data-interval="false">
        <ol class="carousel-indicators">
            <li ng-repeat="image in productDetailsVm.sliderImages" data-slide-to="$index" ng-class="{ active: $first }"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item" ng-class="{active: $first}" ng-repeat="image in productDetailsVm.sliderImages">
                <img class="center-block" ng-src="{{ image }}">
            </div>
        </div>
        <a class="left carousel-control" data-target="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" data-target="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div> -->
<!-- <div class="overlay" id="overlay-full-details">
    <div class="text-right margin-bottom-md">
        <button type="button" class="btn btn-danger" ng-click="productDetailsVm.closeOverlayFullDetails()">&times; Đóng</button>
    </div>
    <div class="well full-details-container">
        <h3>Còn nhiều lắm, bảng này tượng trưng thôi, tham khảo thegioididong</h3>
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>Màn hình</td>
                    <td>LED-backlit IPS LCD, 5.5", Retina HD</td>
                </tr>
                <tr>
                    <td>Hệ điều hành:</td>
                    <td>iOS 10</td>
                </tr>
                <tr>
                    <td>Camera sau</td>
                    <td>Hai camera 12 MP</td>
                </tr>
                <tr>
                    <td>Camera trước</td>
                    <td>7 MP</td>
                </tr>
                <tr>
                    <td>CPU</td>
                    <td>Apple A10 Fusion 4 nhân 64-bit</td>
                </tr>
                <tr>
                    <td>RAM</td>
                    <td>3 GB</td>
                </tr>
                <tr>
                    <td>Bộ nhớ trong</td>
                    <td>32 GB</td>
                </tr>
                <tr>
                    <td>Hỗ trợ thẻ nhớ</td>
                    <td>Không</td>
                </tr>
                <tr>
                    <td>Thẻ SIM</td>
                    <td>1 SIM, Nano SIM</td>
                </tr>
                <tr>
                    <td>Dung lượng pin</td>
                    <td>2900 mAh</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
 -->
