<div class="container-fluid">
    <h3 class="section-title margin-top-md margin-bottom-md">Sản phẩm nổi bật</h3>
    <div class="row">
        <ul class="o-product-list">
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="o-product-card well">
                    <a href="">
                        <ul class="o-product-card-addon">
                            <li class="label label-danger">Hot</li>
                            <li class="label label-info">Mới</li>
                            <li class="label label-primary">Giảm giá</li>
                        </ul>
                        <img class="o-product-card-img" src="img/product/iphone-7-plus.jpg" alt="">
                        <h3 class="o-product-card-title">IPhone 7 Plus</h3>
                    </a>
                    <div class="text-right">
                        <button class="btn btn-info">
                            10.000.000 đ
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="o-product-card well">
                    <a href="">
                        <ul class="o-product-card-addon">
                            <li class="label label-danger">Hot</li>
                            <li class="label label-info">Mới</li>
                            <li class="label label-primary">Giảm giá</li>
                        </ul>
                        <img class="o-product-card-img" src="img/product/oppo-f1s.png" alt="">
                        <h3 class="o-product-card-title">Oppo F1S Chuyên gia Selfie</h3>
                    </a>
                    <div class="text-right">
                        <button class="btn btn-info">
                            10.000.000 đ
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="o-product-card well">
                    <a href="">
                        <ul class="o-product-card-addon">
                            <li class="label label-danger">Hot</li>
                        </ul>
                        <img class="o-product-card-img" src="img/product/galaxy-tab.jpg" alt="">
                        <h3 class="o-product-card-title">Samsung Galaxy Tab</h3>
                    </a>
                    <div class="text-right">
                        <button class="btn btn-info">
                            10.000.000 đ
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="o-product-card well">
                    <a href="">
                        <ul class="o-product-card-addon">
                            <li class="label label-danger">Hot</li>
                            <li class="label label-info">Mới</li>
                            <li class="label label-primary">Giảm giá</li>
                        </ul>
                        <img class="o-product-card-img" src="img/product/asus-k40.jpg" alt="">
                        <h3 class="o-product-card-title">Asus K40UB</h3>
                    </a>
                    <div class="text-right">
                        <button class="btn btn-info">
                            10.000.000 đ
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="o-product-card well">
                    <a href="">
                        <ul class="o-product-card-addon">
                            <li class="label label-danger">Hot</li>
                            <li class="label label-info">Mới</li>
                            <li class="label label-primary">Giảm giá</li>
                        </ul>
                        <img class="o-product-card-img" src="img/product/asus-k40.jpg" alt="">
                        <h3 class="o-product-card-title">Asus K40UB</h3>
                    </a>
                    <div class="text-right">
                        <button class="btn btn-info">
                            10.000.000 đ
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="o-product-card well">
                    <a href="">
                        <ul class="o-product-card-addon">
                            <li class="label label-danger">Hot</li>
                        </ul>
                        <img class="o-product-card-img" src="img/product/galaxy-tab.jpg" alt="">
                        <h3 class="o-product-card-title">Samsung Galaxy Tab</h3>
                    </a>
                    <div class="text-right">
                        <button class="btn btn-info">
                            10.000.000 đ
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="o-product-card well">
                    <a href="">
                        <ul class="o-product-card-addon">
                            <li class="label label-danger">Hot</li>
                            <li class="label label-info">Mới</li>
                            <li class="label label-primary">Giảm giá</li>
                        </ul>
                        <img class="o-product-card-img" src="img/product/oppo-f1s.png" alt="">
                        <h3 class="o-product-card-title">Oppo F1S Chuyên gia Selfie</h3>
                    </a>
                    <div class="text-right">
                        <button class="btn btn-info">
                            10.000.000 đ
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="o-product-card well">
                    <a href="">
                        <ul class="o-product-card-addon">
                            <li class="label label-danger">Hot</li>
                            <li class="label label-info">Mới</li>
                            <li class="label label-primary">Giảm giá</li>
                        </ul>
                        <img class="o-product-card-img" src="img/product/iphone-7-plus.jpg" alt="">
                        <h3 class="o-product-card-title">IPhone 7 Plus</h3>
                    </a>
                    <div class="text-right">
                        <button class="btn btn-info">
                            10.000.000 đ
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>