<div class="container-fluid">
    <h3 class="section-title margin-top-md margin-bottom-md">Sản phẩm nổi bật</h3>
    <div class="row">
        <div class="spinner margin-top-lg" ng-if="homeVm.isGettingFeaturedProducts"></div>
        <ul class="o-product-list">
            <li ng-repeat="product in homeVm.featuredProducts" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="o-product-card well">
                    <a ui-sref="productDetails.productId({ productId: product.id })">
                        <ul class="o-product-card-addon">
                            <li ng-repeat="tag in product.tags" class="margin-left-sm" ng-class="indexVm.getTagLabelClass(tag)">{{ tag.tagName }}
                            </li>
                        </ul>
                        <img class="o-product-card-img" ng-src="{{ product.media[0].link }}">
                        <h3 class="o-product-card-title">{{ product.productName }}</h3>
                    </a>
                    <div class="text-right">
                        <button class="btn btn-info" ng-click="indexVm.addItemToCart(product, 1)">
                            {{ product.price | number}} đ
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
