<aside class="sidebar">
    <div class="sidebar-container">
        <form class="sidebar-body">
            <div class="form-group">
                <label>Hãng</label>
                <div isteven-multi-select helper-elements="" input-model="categoryTabletVm.inputBrands" output-model="categoryTabletVm.outputBrands" button-label="icon name" item-label="icon name" tick-property="ticked" on-item-click="categoryTabletVm.onBrandSelect(data)">
                </div>
            </div>
            <div class="form-group">
                <label>Hệ điều hành</label>
                <div isteven-multi-select helper-elements="" input-model="categoryTabletVm.inputOSs" output-model="categoryTabletVm.outputOSs" button-label="icon name" item-label="icon name" tick-property="ticked" on-item-click="categoryTabletVm.onOSSelect(data)">
                </div>
            </div>
            <div class="form-group">
                <label>Giá</label>
                <rzslider rz-slider-model="categoryTabletVm.params.minPrice" rz-slider-high="categoryTabletVm.params.maxPrice" rz-slider-options="categoryTabletVm.priceSlider.options"></rzslider>
            </div>
            <div class="form-group">
                <label>RAM</label>
                <rzslider rz-slider-model="categoryTabletVm.params.minRam" rz-slider-high="categoryTabletVm.params.maxRam" rz-slider-options="categoryTabletVm.ramSizeSlider.options"></rzslider>
            </div>
            <div class="form-group">
                <label>Bộ nhớ trong</label>
                <rzslider rz-slider-model="categoryTabletVm.params.minInternalMemSize" rz-slider-high="categoryTabletVm.params.maxInternalMemSize" rz-slider-options="categoryTabletVm.internalMemSizeSlider.options"></rzslider>
            </div>
            <div class="form-group">
                <label>Camera trước</label>
                <rzslider rz-slider-model="categoryTabletVm.params.minFrontCameraRes" rz-slider-high="categoryTabletVm.params.maxFrontCameraRes" rz-slider-options="categoryTabletVm.frontCameraResSlider.options"></rzslider>
            </div>
            <div class="form-group">
                <label>Camera sau</label>
                <rzslider rz-slider-model="categoryTabletVm.params.minBackCameraRes" rz-slider-high="categoryTabletVm.params.maxBackCameraRes" rz-slider-options="categoryTabletVm.backCameraResSlider.options"></rzslider>
            </div>
            <div class="form-group">
                <label>PIN</label>
                <rzslider rz-slider-model="categoryTabletVm.params.minPinCapacity" rz-slider-high="categoryTabletVm.params.maxPinCapacity" rz-slider-options="categoryTabletVm.pinCapacitySlider.options"></rzslider>
            </div>
            <div class="form-group">
                <label>Màn hình</label>
                <rzslider rz-slider-model="categoryTabletVm.params.minScreenSize" rz-slider-high="categoryTabletVm.params.maxScreenSize" rz-slider-options="categoryTabletVm.screenSizeSlider.options"></rzslider>
            </div>
        </form>
        <div class="sidebar-footer text-center">
            <button type="button" class="btn btn-primary" ng-click="categoryTabletVm.resetFilter()">Mặc định</button>
            <button id="close-sidebar-button" type="button" class="btn btn-danger">Đóng</button>
        </div>
    </div>
</aside>
<div class="container-fluid margin-bottom-md">
    <form class="form-inline well margin-top-md">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                    <button id="open-sidebar-button" class="btn btn-primary ">
                        <i class="fa fa-filter"></i> Chọn theo tiêu chí
                    </button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-8">
                <div class="form-group">
                    <label class="margin-right-sm">Sắp xếp</label>
                    <select class="form-control " ng-model="categoryTabletVm.params.sort" ng-options="criteria.key as criteria.value for criteria in categoryTabletVm.sortCriteriaOptions" ng-change="categoryTabletVm.sortCriteriaChange()">
                    </select>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <ul class="o-product-list">
            <li ng-repeat="product in categoryTabletVm.tablets" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="o-product-card well">
                    <a ui-sref="productDetails.productId({ productId: product.id })">
                        <ul class="o-product-card-addon">
                            <li ng-repeat="tag in product.tags" class="margin-left-sm" ng-class="indexVm.getTagLabelClass(tag)">{{ tag.tagName }}
                            </li>
                        </ul>
                        <img class="o-product-card-img" ng-src="{{ product.media[0].link }}">
                        <h3 class="o-product-card-title">{{ product.productName }}</h3>
                        <table class="o-product-overview">
                            <tr>
                                <td>Màn hình:</td>
                                <td>{{ product.details.screenSize }}, {{ product.details.screenDetails }} </td>
                            </tr>
                            <tr>
                                <td>HĐH:</td>
                                <td>{{ product.details.os }}</td>
                            </tr>
                            <tr>
                                <td>CPU:</td>
                                <td>{{ product.details.cpu }}</td>
                            </tr>
                            <tr>
                                <td>RAM:</td>
                                <td>{{ product.details.ram }} GB</td>
                            </tr>
                            <tr>
                                <td>ROM:</td>
                                <td>{{ product.details.internalMemSize }} GB</td>
                            </tr>
                            <tr>
                                <td>Camera:</td>
                                <td>{{ product.details.backCameraRes }} MP</td>
                            </tr>
                            <tr>
                                <td>Selfie:</td>
                                <td>{{ product.details.frontCameraRes }} MP</td>
                            </tr>
                            <tr>
                                <td>PIN:</td>
                                <td>{{ product.details.pinCapacity }} mAh</td>
                            </tr>
                        </table>
                    </a>
                    <div class="text-right">
                        <button class="btn btn-info" ng-click="indexVm.addItemToCart(product, 1)">
                            {{ product.price | number}} đ
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="spinner margin-top-md margin-bottom-md" ng-if="categoryTabletVm.isGettingProducts"></div>
    <div ng-if="categoryTabletVm.hasMoreProducts" class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-4 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-3">
            <button type="button" class="btn btn-block btn-default" ng-click="categoryTabletVm.getProducts()">Tải thêm</button>
        </div>
    </div>
</div>
