<div class="container-fluid">
    <form class="form well">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="form-group">
                    <label>Giá</label>
                    <rzslider rz-slider-model="categoryCaseVm.priceSlider.min" rz-slider-high="categoryCaseVm.priceSlider.max" rz-slider-options="categoryCaseVm.priceSlider.options"></rzslider>
                </div>
            </div>
            <!-- <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="form-group">
                    <label>Dung lượng</label>
                    <rzslider rz-slider-model="categoryCaseVm.capacitySlider.min" rz-slider-high="categoryCaseVm.capacitySlider.max" rz-slider-options="categoryCaseVm.capacitySlider.options"></rzslider>
                </div>
            </div> -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <h3>Không biết lọc nên ốp lưng thế nào!</h3>
            </div>
        </div>
        <div class="form-inline">
            <label class="margin-right-sm">Sắp xếp</label>
            <select class="form-control " ng-init="categoryCaseVm.sortCriteria = categoryCaseVm.sortCriteriaOptions[0]" ng-model="categoryCaseVm.sortCriteria" ng-options="criteria.value for criteria in categoryCaseVm.sortCriteriaOptions">
            </select>
        </div>
    </form>
    <div class="row">
        <ul class="o-product-list">
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="o-product-card well">
                    <a href="">
                        <ul class="o-product-card-addon">
                            <li class="label label-danger">Hot</li>
                        </ul>
                        <img class="o-product-card-img" src="img/product/accessory/case/oppo-a39-soft-plastic.jpg" alt="">
                        <h3 class="o-product-card-title">Ốp lưng Oppo A39 dựa dẻo ilike xám</h3>
                    </a>
                    <div class="text-right">
                        <button class="btn btn-info">
                            10.000.000 đ
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="o-product-card well">
                    <a href="">
                        <ul class="o-product-card-addon">
                            <li class="label label-danger">Hot</li>
                        </ul>
                        <img class="o-product-card-img" src="img/product/accessory/case/oppo-a39-soft-plastic.jpg" alt="">
                        <h3 class="o-product-card-title">Ốp lưng Oppo A39 dựa dẻo ilike xám</h3>
                    </a>
                    <div class="text-right">
                        <button class="btn btn-info">
                            10.000.000 đ
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="o-product-card well">
                    <a href="">
                        <ul class="o-product-card-addon">
                            <li class="label label-danger">Hot</li>
                        </ul>
                        <img class="o-product-card-img" src="img/product/accessory/case/oppo-a39-soft-plastic.jpg" alt="">
                        <h3 class="o-product-card-title">Ốp lưng Oppo A39 dựa dẻo ilike xám</h3>
                    </a>
                    <div class="text-right">
                        <button class="btn btn-info">
                            10.000.000 đ
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="o-product-card well">
                    <a href="">
                        <ul class="o-product-card-addon">
                            <li class="label label-danger">Hot</li>
                        </ul>
                        <img class="o-product-card-img" src="img/product/accessory/case/oppo-a39-soft-plastic.jpg" alt="">
                        <h3 class="o-product-card-title">Ốp lưng Oppo A39 dựa dẻo ilike xám</h3>
                    </a>
                    <div class="text-right">
                        <button class="btn btn-info">
                            10.000.000 đ
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="o-product-card well">
                    <a href="">
                        <ul class="o-product-card-addon">
                            <li class="label label-danger">Hot</li>
                        </ul>
                        <img class="o-product-card-img" src="img/product/accessory/case/oppo-a39-soft-plastic.jpg" alt="">
                        <h3 class="o-product-card-title">Ốp lưng Oppo A39 dựa dẻo ilike xám</h3>
                    </a>
                    <div class="text-right">
                        <button class="btn btn-info">
                            10.000.000 đ
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="o-product-card well">
                    <a href="">
                        <ul class="o-product-card-addon">
                            <li class="label label-danger">Hot</li>
                        </ul>
                        <img class="o-product-card-img" src="img/product/accessory/case/oppo-a39-soft-plastic.jpg" alt="">
                        <h3 class="o-product-card-title">Ốp lưng Oppo A39 dựa dẻo ilike xám</h3>
                    </a>
                    <div class="text-right">
                        <button class="btn btn-info">
                            10.000.000 đ
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="o-product-card well">
                    <a href="">
                        <ul class="o-product-card-addon">
                            <li class="label label-danger">Hot</li>
                        </ul>
                        <img class="o-product-card-img" src="img/product/accessory/case/oppo-a39-soft-plastic.jpg" alt="">
                        <h3 class="o-product-card-title">Ốp lưng Oppo A39 dựa dẻo ilike xám</h3>
                    </a>
                    <div class="text-right">
                        <button class="btn btn-info">
                            10.000.000 đ
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="o-product-card well">
                        <a href="">
                            <ul class="o-product-card-addon">
                                <li class="label label-danger">Hot</li>
                            </ul>
                            <img class="o-product-card-img" src="img/product/accessory/case/oppo-a39-soft-plastic.jpg" alt="">
                            <h3 class="o-product-card-title">Ốp lưng Oppo A39 dựa dẻo ilike xám</h3>
                        </a>
                        <div class="text-right">
                            <button class="btn btn-info">
                                10.000.000 đ
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                </li>
        </ul>
    </div>
</div>
