<div class="row">
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Mã đơn hàng</th>
					<th>Ngày mua</th>
					<th>Sản phẩm</th>
					<th>Tổng tiền</th>
					<th>Trạng thái</th>
					<th>Thao tác</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>41879528</td>
					<td>06/01/2017</td>
					<td>
						<ul class="o-order-product-list">
							<li>Iphone 7 Lorem ipsum x 1</li>
							<li>Iphone 7 Lorem ipsum x 2</li>
							<li>Iphone 7 Lorem ipsum x 3</li>
						</ul>
					</td>
					<td>{{ 158000 | number }} đ</td>
					<td>Chờ giao hàng</td>
					<td>
						<button type="button" class="btn btn-danger btn-sm">
							Hủy
						</button>
					</td>
				</tr>
				<tr>
					<td>41879528</td>
					<td>06/01/2017</td>
					<td>
						<ul class="o-order-product-list">
							<li>Iphone 7 Lorem ipsum x 1</li>
							<li>Iphone 7 Lorem ipsum x 2</li>
							<li>Iphone 7 Lorem ipsum x 3</li>
						</ul>
					</td>
					<td>{{ 158000 | number }} đ</td>
					<td>Đã hủy</td>
					<td></td>
				</tr>
				<tr>
					<td>41879528</td>
					<td>06/01/2017</td>
					<td>
						<ul class="o-order-product-list">
							<li>Iphone 7 Lorem ipsum x 1</li>
							<li>Iphone 7 Lorem ipsum x 2</li>
							<li>Iphone 7 Lorem ipsum x 3</li>
						</ul>
					</td>
					<td>{{ 158000 | number }} đ</td>
					<td>Đã giao hàng thành công</td>
					<td></td>
				</tr>
				<tr>
					<td>41879528</td>
					<td>06/01/2017</td>
					<td>
						<ul class="o-order-product-list">
							<li>Iphone 7 Lorem ipsum x 1</li>
							<li>Iphone 7 Lorem ipsum x 2</li>
							<li>Iphone 7 Lorem ipsum x 3</li>
						</ul>
					</td>
					<td>{{ 158000 | number }} đ</td>
					<td>Hủy đơn hàng</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>