<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Đã có tài khoản</h3>
            </div>
            <div class="panel-body">
                <button type="button" class="btn btn-social btn-facebook margin-bottom-md" ng-click="indexVm.loginFacebook()">
                    <span class="fa fa-facebook"></span> Đăng nhập Facebook
                </button>
                <div class="row">
                    <div class="col-md-8 col-lg-7">
                        <form ng-submit="checkoutLoginVm.login()">
                            <div class="form-group">
                                <label for="">Tên đăng nhập</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <input type="text" class="form-control" ng-model="checkoutLoginVm.loginUsername" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">Mật khẩu</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-lock"></i>
                                    </div>
                                    <input type="password" class="form-control" ng-model="checkoutLoginVm.loginPassword" placeholder="">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-block">Đăng nhập</button>
                            <div class="spinner" ng-if="checkoutLoginVm.isAuthenticating"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Chưa có tài khoản</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8 col-lg-7">
                        <form ng-submit="checkoutLoginVm.register()">
                            <div class="form-group">
                                <label for="">Tên đăng nhập</label>
                                <input type="text" class="form-control" ng-model="checkoutLoginVm.registerUsername" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="">Mật khẩu</label>
                                <input type="password" class="form-control" ng-model="checkoutLoginVm.registerPassword" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="">Họ và tên</label>
                                <input type="text" class="form-control" ng-model="checkoutLoginVm.registerName" placeholder="">
                            </div>
                            <button type="submit" class="btn btn-info btn-block">Tạo tài khoản</button>
                            <div class="spinner" ng-if="checkoutLoginVm.isRegistering"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
